{% extends "main.html" %} {% load static %} {% block title %}Courses{% endblock %} {% block content %}
<p>{{current_time}}</p>
<div class="p-4">
    <h1 class="text-center" style="text-decoration: underline;">Congratulations🎊🎊 on being determined as a  
        {% if request.user.is_auditory_learner %}auditory learner/{% endif %}
        {% if request.user.is_visual_learner %}visal learner/{% endif %}
        {% if request.user.is_kinesthetic_learner %}kinesthetic learner/{% endif %}
        {% if request.user.is_read_write_learner %}read/write learner{% endif %}
    </h1>
    <h3>Down below is your lesson plan</h3>
    <ol>
        {% for course_data in courses_data %}
        <li class="fw-bold h2 pt-3">{{ course_data.course_item }}</li>
        <h3>Requirements:</h3>
        <ul>
            {% for requirement in course_data.requirement_list %}
            <li>{{ requirement }}</li>
            {% endfor %}
        </ul>
        <h3>Curriculum:</h3>
        <ul>
            {% for curriculum_item in course_data.curriculum_list %}
            <li>{{ curriculum_item }}</li>
            {% endfor %}
        </ul>
        
        {% endfor %}
    </ol>
    <a href="{% url 'courses' request.user.id %}" class="btn btn-primary">Click here to visit all the courses</a>
</div>
{% endblock %}